body {
    font-family: Arial, sans-serif;
    color: white; /* Changed text color to white */
    margin: 0;
    padding: 0;
    background-image: url('https://htmlcolorcodes.com/assets/images/colors/light-green-color-solid-background-1920x1080.png');
    background-size: cover;
    background-repeat: no-repeat;
}

marquee {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 0;
    background-color: white;
    color: green; /* Set text color to green */
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Changed container background color */
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}

.order-summary, .payment-details, .payment-options {
    background-color: #444; /* Changed box color */
    padding: 20px;
    border-radius: 10px;
}

.order-summary h2, .payment-details h2, .payment-options h2 {
    color: lightgreen; /* Changed title color */
}

#dynamicPaymentOptions {
    margin-top: 20px;
}

label, input[type="radio"], button {
    display: block;
    margin-bottom: 10px;
}

label img {
    vertical-align: middle;
    margin-right: 10px;
    width: 100px;
    height: 50px;
}

button {
    background-color: darkgreen; /* Changed button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
    color: white;
}
