<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/static/css/s.css">
</head>
<body>
    <!-- Background image -->
    <div class="background-image"></div>
    
    <div class="container">
        <h2>Create Account</h2>
        <form id="signupForm" class="signup" method="POST">
            {% csrf_token %}
            <div class="field">
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="field">
                <input type="text" id="firstName" name="first_name" placeholder="First Name" required>
            </div>
            <div class="field">
                <input type="text" id="lastName" name="last_name" placeholder="Last Name" required>
            </div>
            <div class="field">
                <input type="tel" id="phoneNumber" name="phone_number" placeholder="Phone Number" required>
            </div>
            <div class="field">
                <input type="email" id="email" name="email" placeholder="Email Address" required>
            </div>
            <button type="submit">Signup</button>
        </form>
        <p>Already have an account? <a href="{% url 'login'%}">Login now</a>
    </div>
</body>
</html>